.contact {
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions {
  display: flex;
  margin-left: auto;
}

.buttonDelete {
  cursor: pointer;
}
